openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc5
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/accounts/v1'
tags:
  - name: Accounts Identification
  - name: Accounts Balance
  - name: Accounts Transactions
  - name: Accounts Overdraft Limits
paths:
  /accounts-identification:
    get:
      tags:
        - Accounts Identification
      summary: Dados de identificação de uma conta
      description: Obtém dados que identificam uma conta
      operationId: getAccountsIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados de identificação de conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountIdentification'
  /accounts-balances:
    get:
      tags:
        - Accounts Balances
      summary: Dados relativos aos saldos em conta
      description: Obtém dados relativos aos saldos em conta
      operationId: getAccountsBalances
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados relativos aos saldos em conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
  /accounts-overdraftlimits:
    get:
      tags:
        - Accounts Overdraft LImits
      summary: Limites referentes ao valor das operações de crédito
      description: Obtém dados relativos Limites referentes ao valor das operações de crédito (cheque especial e Adiantamento a Depositantes) vinculadas à conta de depósito à vista ou conta corrente
      operationId: getAccountsOverdraftLimits
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados de Limites referentes ao valor das operações de crédito com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
components:
  schemas:
    ResponseAccountIdentification:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
                  maxLength: 80
                  pattern: \w*\W*
                companies:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - cnpjNumber
                      - account
                    allOf:
                      - $ref: '#/paths/~1accounts-balances/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/allOf/0'
                    properties:
                      account:
                        description: Objeto agrupador informações de Contas
                        type: object
                        required:
                          - requestDateTime
                          - updateDateTime
                          - number
                          - digitNumber
                          - branchCode
                          - ispbCode
                          - type
                          - subtype
                        properties:
                          requestDateTime:
                            type: string
                            maxLength: 20
                            pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                            description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                            example: '2020-07-21T08:30:00Z'
                          updateDateTime:
                            type: string
                            maxLength: 20
                            pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                            description: 'Data e hora da atualização, conforme especificação RFC-3339. '
                            example: '2020-07-21T08:30:00Z'
                          number:
                            type: string
                            maxLength: 8
                            pattern: '\d{8}|^NA$'
                            description: |
                              Número da conta
                            example: '12345678'
                          digitNumber:
                            type: string
                            maxLength: 1
                            pattern: '\d{8}|^NA$'
                            description: |
                              Número do dígito da conta
                            example: '9'
                          branchCode:
                            type: string
                            maxLength: 4
                            pattern: '\d{8}|^NA$'
                            description: |
                              Código da Agência detentora da conta
                            example: '1234'
                          ispbCode:
                            type: string
                            maxLength: 8
                            pattern: '\d{8}|^NA$'
                            description: |
                              Código da Instituição financeira. 
                              ISPB: Identificador do participante junto ao Banco Central para o Sistema de Pagamentos Brasileiro – código identificador atribuído a todos os participantes do Sistema de Transferência de Reservas (STR) do Banco Central do Brasil
                            example: '12345678'
                          type:
                            type: string
                            enum:
                              - CONTA_DEPOSITO_A_VISTA
                              - CONTA_POUPANCA
                              - CONTA_PAGAMENTO_PRE_PAGA
                            description: |
                              Tipos de contas ofertadas para pessoa natural ou jurídica, p.ex. 'CONTA_DEPOSITO_A_VISTA'.
                              Conta de depósito à vista ou Conta corrente - é o tipo mais comum. Nela, o dinheiro fica à sua disposição para ser sacado a qualquer momento. Essa conta não gera rendimentos para o depositante
                              Conta poupança - foi criada para estimular as pessoas a pouparem. O dinheiro que ficar na conta por trinta dias passa a gerar rendimentos, com isenção de imposto de renda para quem declara. Ou seja, o dinheiro “cresce” (rende) enquanto ficar guardado na conta. Cada depósito terá rendimentos de mês em mês, sempre no dia do mês em que o dinheiro tiver sido depositado
                              Conta de pagamento pré-paga: segundo CIRCULAR Nº 3.680, BCB de  2013, é a 'destinada à execução de transações de pagamento em moeda eletrônica realizadas com base em fundos denominados em reais previamente aportados'
                            example: CONTA_DEPOSITO_A_VISTA
                          subtype:
                            type: string
                            enum:
                              - INDIVIDUAL
                              - CONJUNTA_SOLIDARIA
                              - CONJUNTA_NAO_SOLIDARIA
                            description: ''
                            Subtipo de conta (vide Enum): 'Conta individual - possui um único titular Conta conjunta solidária - é a modalidade cujos titulares podem realizar movimentações de forma isolada, isto é, sem que seja necessária a autorização dos demais titulares Conta conjunta não solidária - onde as movimentações financeiras só podem serem realizadas mediante autorização de TODOS os correntistas da conta.'
                            example: INDIVIDUAL
                  minItems: 1
                  description: Companies traz uma lista de todas as instuituições da Marca.
        links:
          $ref: '#/components/schemas/ResponseAccountBalances/properties/links'
        meta:
          $ref: '#/components/schemas/ResponseAccountBalances/properties/meta'
    ResponseAccountBalances:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
                  maxLength: 80
                  pattern: \w*\W*
                companies:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - cnpjNumber
                      - balances
                    allOf:
                      - type: object
                        required:
                          - name
                          - cnpjNumber
                        allOf:
                          - type: object
                            properties:
                              cnpjNumber:
                                type: string
                                pattern: '^(\d{14})$|^NA$'
                                description: Número completo do CNPJ da instituição
                                maxLength: 14
                                example: '50685362000135'
                        properties:
                          name:
                            type: string
                            description: 'Nome da Instituição, pertencente à marca, responsável pela modalidade de Empréstimos. p.ex.''Empresa da Organização A'''
                            maxLength: 80
                            pattern: \w*\W*
                            example: Empresa A1
                    properties:
                      balances:
                        type: array
                        items:
                          type: object
                          required:
                            - requestDateTime
                            - updateDateTime
                            - type
                            - amount
                            - currency
                          properties:
                            requestDateTime:
                              type: string
                              maxLength: 20
                              pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                              description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                              example: '2020-07-21T08:30:00Z'
                            updateDateTime:
                              type: string
                              maxLength: 20
                              pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                              description: 'Data e hora da atualização, conforme especificação RFC-3339.'
                              example: '2020-07-21T08:30:00Z'
                            type:
                              type: string
                              enum:
                                - SALDO_DISPONIVEL
                                - SALDO_BLOQUEADO
                                - SALDO_DISPONIVEL_APLICACAO_AUTOMATICA
                              description: |
                                tipos de saldo em conta: (vide enum) informados:
                                Saldo disponível para utilização imediata. No caso de conta de depósito a vista, sem considerar cheque especial e investimentos atrelados a conta. Admite saldo negativo.
                                Saldo bloqueado não disponível para utilização imediata, por motivo de bloqueio por compensação, ou bloqueio judicial
                                Saldo disponível com aplicação automática - saldo disponível para utilização imediata, referente ao tipo de conta que remunera automaticamente o saldo em conta 
                              example: SALDO_DISPONIVEL
                            currency:
                              $ref: '#/paths/~1accounts-overdraftlimits/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/currency'
                        minItems: 1
                        description: Relação de informações de um contratante do serviço de correspondente.
                  minItems: 1
                  description: Companies traz uma lista de todas as instuições da Marca.
        links:
          type: object
          properties:
            self:
              type: string
              description: URL da página atualmente requisitada
              example: 'https://api.banco.com.br/open-banking/channels/v1/<resource>'
            first:
              type: string
              description: URL da primeira página de registros
              example: 'https://api.banco.com.br/open-banking/channels/v1/<resource>'
            prev:
              type: string
              description: URL da página anterior de registros
            next:
              type: string
              description: URL da próxima página de registros
            last:
              type: string
              description: URL da última página de registros
              example: 'https://api.banco.com.br/open-banking/channels/v1/<resource>'
        meta:
          type: object
          required:
            - totalRecords
            - totalPages
          properties:
            totalRecords:
              type: integer
              description: Total de registros encontrados
              example: 1
            totalPages:
              type: integer
              description: Total de páginas para os registros encontrados
              example: 1
    ResponseAccountOverdraftLimits:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - requestDateTime
                - updateDateTime
                - type
                - amount
                - currency
              allOf:
                - type: object
                  required:
                    - requestDateTime
                    - updateDateTime
                  properties:
                    requestDateTime:
                      type: string
                      maxLength: 20
                      pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                      description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                      example: '2020-07-21T08:30:00Z'
                    updateDateTime:
                      type: string
                      maxLength: 20
                      pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                      description: 'Data e hora da atualização, conforme especificação RFC-3339.'
                      example: '2020-07-21T08:30:00Z'
              properties:
                type:
                  type: string
                  enum:
                    - VALOR_UTILIZADO
                    - VALOR_DISPONIVEL
                    - SALDO_DESCOBERTO
                  description: |
                    Tipo de Transação relativa ao saldo do limite  informado: (vide Enum)
                    valor utilizado do limite do cheque especial
                    valor disponível do limite do cheque especial
                    saldo a descoberto em conta de depósito a vista (relativo ao adiantamento a depositante 
                  example: VALOR_UTILIZADO
                currency:
                  type: string
                  pattern: '^(\w{3}){1}$'
                  maxLength: 3
                  x-cds-type: CurrencyString
                  description: 'Moeda referente ao valor mínimo da Tarifa, segundo modelo ISO-4217'
                  example: BRL
        links:
          $ref: '#/components/schemas/ResponseAccountBalances/properties/links'
        meta:
          $ref: '#/components/schemas/ResponseAccountBalances/properties/meta'
  securitySchemes:
    APIKey1:
      name: API Key
      type: apiKey
      in: query
    APIKey2:
      name: API Key
      type: apiKey
      in: query
  parameters:
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 25
        minimum: 1
