openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc5
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/accounts/v1'
tags:
  - name: Accounts Identification
  - name: Accounts Balance
  - name: Accounts Transactions
  - name: Accounts Overdraft Limits
paths:
  /accounts-identification:
    get:
      tags:
        - Accounts Identification
      summary: Dados de identificação de uma conta
      description:  Obtém dados que identificam uma conta
      operationId: getAccountsIdentification
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados de identificação de conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountIdentification'

  /accounts-balances:
    get:
      tags:
        - Accounts Balances
      summary: Dados relativos aos saldos em conta 
      description:  Obtém dados relativos aos saldos em conta 
      operationId: getAccountsBalances
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados relativos aos saldos em conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'  

  /accounts-transactions:
    get:
      tags:
        - Accounts Transactions
      summary: Transações de crédito e débito realizadas e autorizadas
      description:  Obtém dados relativos a Transações de crédito e débito realizadas e autorizadas
      operationId: getAccountsTransactions
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados de Transações de crédito e débito realizadas e autorizadas obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'

  /accounts-overdraft-limits:
    get:
      tags:
        - Accounts Overdraft LImits
      summary: Limites referentes ao valor das operações de crédito
      description:  Obtém dados relativos Limites referentes ao valor das operações de crédito (cheque especial e Adiantamento a Depositantes) vinculadas à conta de depósito à vista ou conta corrente 
      operationId: getAccountsOverdraftLimits
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados de Limites referentes ao valor das operações de crédito obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'                  
components:
  schemas:
    ResponseAccountIdentification:
      $ref: ./schemas/ResponseAccountIdentification.yaml
    Brand:
      $ref: './schemas/AccountIdentificationBrand.yaml'    
    AccountType:
        $ref: "./schemas/AccountType.yaml"
    AccountSubType:
      $ref: "./schemas/AccountSubType.yaml"      
    AccountIdentificationCompany:
      $ref: './schemas/AccountIdentificationCompany.yaml'  
    AccountIdentification:
      $ref: './schemas/AccountIdentification.yaml'            
    ResponseAccountBalances:
      $ref: ./schemas/ResponseAccountBalances.yaml   
    ResponseAccountTransactions:
      $ref: ./schemas/ResponseAccountTransactions.yaml             
    ResponseAccountOverdraftLimits:
      $ref: ./schemas/ResponseAccountOverdraftLimits.yaml    
    Links:
      $ref: ./schemas/Links.yaml
    Meta:
      $ref: ./schemas/Meta.yaml           
  securitySchemes:
    $ref: "./schemas/securitySchemes.yaml"
  parameters:
    $ref: "./schemas/parameters.yaml"
