openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc5
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/products-services/v2'
tags:
  - name: Accounts
  - name: Loans
  - name: Credit Cards
  - name: Financings
  - name: Invoice Financings
  - name: Unarranged Account Overdraft
paths:
  /personal-accounts:
    get:
      tags:
        - Accounts
      summary: Contas pessoa natural
      description:  Obtém dados das contas pessoa natural
      operationId: getPersonalAccounts
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre contas pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalAccounts'
  /business-accounts:
    get:
      tags:
        - Accounts
      summary: Contas pessoa jurídica
      description:  Obtém dados das contas pessoa jurídica
      operationId: getBusinessAccounts
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre contas pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessAccounts'
  /personal-loans:
    get:
      tags:
        - Loans
      summary: Empréstimos pessoa natural
      description: Obtém dados sobre empréstimos pessoa natural
      operationId: getPersonalLoans
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre empréstimos pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalLoans'
  /business-loans:
    get:
      tags:
        - Loans
      summary: Empréstimos pessoa jurídica
      description: Obtém dados sobre empréstimos pessoa jurídica
      operationId: getBusinessLoans
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre empréstimos pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessLoans'
  /personal-credit-cards:
    get:
      tags:
        - Credit Cards
      summary: Cartão de crédito de pessoa natural
      description: Obtém dados sobre cartões de crédito pessoa natural
      operationId: getPersonalCreditCards
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre cartão de crédito pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalCreditCardResponse'
  /business-credit-cards:
    get:
      tags:
        - Credit Cards
      summary: Cartão de crédito de pessoa jurídica
      description: Obtém dados sobre cartões de crédito pessoa jurídica
      operationId: getBusinessCreditCards
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre cartões de crédito pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCreditCardResponse'
  /personal-financings:
    get:
      tags:
        - Financings
      summary: Financiamento Pessoa Natural
      description: Obtém a lista de Financiamentos de Pessoa Natural
      operationId: getPersonalFinancings
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de financiamentos de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalFinancings'
  /business-financings:
    get:
      tags:
        - Financings
      summary: Financiamento Pessoa Jurídica
      description: Obtém a lista de Financiamentos de Pessoa Jurídica
      operationId: getBusinessFinancings
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de financiamentos de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessFinancings'
  /personal-invoice-financings:
    get:
      tags:
        - Invoice Financings
      summary: Antecipação de recebíveis Pessoa Natural
      description: Obtém a lista de Adiantamento de Recebíveis de Pessoa Natural
      operationId: getPersonalInvoiceFinancings
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalInvoiceFinancings'
  /business-invoice-financings:
    get:
      tags:
        - Invoice Financings
      summary: Antecipação de recebíveis Pessoa Jurídica
      description: Obtém a lista de Adiantamento de Recebíveis de Pessoa Jurídica
      operationId: getBusinessInvoiceFinancings
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessInvoiceFinancings'
  /personal-unarranged-account-overdraft:
    get:
      tags:
        - Unarranged Account Overdraft
      summary: Adiantamento a Depositante Pessoa Natural
      description: Obtém a lista de adiantamento de depositante de Pessoa Natural
      operationId: getPersonalUnarrangedAccountOverdraft
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalUnarrangedAccountOverdraft'
  /business-unarranged-account-overdraft:
    get:
      tags:
        - Unarranged Account Overdraft
      summary: Adiantamento a Depositante Pessoa Jurídica
      description: Obtém a lista de adiantamento de depositante de Pessoa Jurídica
      operationId: getBusinessUnarrangedAccountOverdraft
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessUnarrangedAccountOverdraft'
components:
  schemas:
    AccountFee:
      $ref: ./schemas/AccountFee.yaml
    AccountOtherService:
      $ref: ./schemas/AccountOtherService.yaml
    AccountPriorityService:
      $ref: ./schemas/AccountPriorityService.yaml
    AccountPriorityServiceCode:
      $ref: ./schemas/AccountPriorityServiceCode.yaml
    AccountType:
      $ref: ./schemas/AccountType.yaml
    AccountsIncomeRate:
      $ref: ./schemas/AccountsIncomeRate.yaml
    AccountsTermsConditions:
      $ref: ./schemas/ResponsePersonalAccounts.yaml
    ApplicationIntervals:
      $ref: ./schemas/ApplicationIntervals.yaml
    ApplicationRate:
      $ref: ./schemas/ApplicationRate.yaml
    Brand:
      $ref: ./schemas/Brand.yaml
    BusinessAccounts:
      $ref: ./schemas/BusinessAccounts.yaml
    BusinessAccountsBrand:
      $ref: ./schemas/BusinessAccountsBrand.yaml
    BusinessAccountsCompany:
      $ref: ./schemas/BusinessAccountsCompany.yaml
    BusinessAccountsService:
      $ref: ./schemas/BusinessAccountsService.yaml
    BusinessCreditCard:
      $ref: ./schemas/BusinessCreditCard.yaml
    BusinessCreditCardBrand:
      $ref: ./schemas/BusinessCreditCardBrand.yaml
    BusinessCreditCardCompany:
      $ref: ./schemas/BusinessCreditCardCompany.yaml
    BusinessCreditCardResponse:
      $ref: ./schemas/BusinessCreditCardResponse.yaml
    BusinessFinancing:
      $ref: ./schemas/BusinessFinancingFee.yaml
    BusinessFinancingBrand:
      $ref: ./schemas/BusinessFinancingBrand.yaml
    BusinessFinancingCompany:
      $ref: ./schemas/BusinessFinancingCompany.yaml
    BusinessFinancingFee:
      $ref: ./schemas/BusinessFinancingFee.yaml
    BusinessInvoiceFinancings:
      $ref: ./schemas/BusinessInvoiceFinancings.yaml
    BusinessInvoiceFinancingsBrand:
      $ref: ./schemas/BusinessInvoiceFinancingsBrand.yaml
    BusinessInvoiceFinancingsCompanies:
      $ref: ./schemas/BusinessInvoiceFinancingsCompanies.yaml
    BusinessInvoiceFinancingsFees:
      $ref: ./schemas/BusinessInvoiceFinancingsFees.yaml
    BusinessInvoiceFinancingsInterestRates:
      $ref: ./schemas/BusinessInvoiceFinancingsInterestRates.yaml
    BusinessLoan:
      $ref: ./schemas/BusinessLoan.yaml
    BusinessLoanBrand:
      $ref: ./schemas/BusinessLoanBrand.yaml
    BusinessLoanCompany:
      $ref: ./schemas/BusinessLoanCompany.yaml
    BusinessUnarrangedAccountOverdraft:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraft.yaml
    BusinessUnarrangedAccountOverdraftBrand:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftBrand.yaml
    BusinessUnarrangedAccountOverdraftCompany:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftCompany.yaml
    BusinessUnarrangedAccountOverdraftFee:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftFee.yaml
    CNPJ:
      $ref: ./schemas/Links.yaml
    Company:
      $ref: ./schemas/Company.yaml
    CreditCardIdentification:
      $ref: ./schemas/CreditCardIdentification.yaml
    CreditCardInterest:
      $ref: ./schemas/CreditCardInterest.yaml
    CreditCardInterestRate:
      $ref: ./schemas/CreditCardInterestRate.yaml
    CreditCardRewardsProgram:
      $ref: ./schemas/CreditCardTermsConditions.yaml
    CreditCardService:
      $ref: ./schemas/CreditCardService.yaml
    CreditCardTermsConditions:
      $ref: ./schemas/CreditCardTermsConditions.yaml
    Currency:
      $ref: ./schemas/Currency.yaml
    Customer:
      $ref: ./schemas/Customer.yaml
    FeeReferentialRateIndexer:
      $ref: ./schemas/FeeReferentialRateIndexer.yaml
    FinancingInterestRate:
      $ref: ./schemas/FinancingInterestRate.yaml
    FinancingService:
      $ref: ./schemas/FinancingService.yaml
    Indexer:
      $ref: ./schemas/Indexer.yaml
    InterestRate:
      $ref: ./schemas/InterestRate.yaml
    InterestRateFee:
      $ref: ./schemas/InterestRateFee.yaml
    InvoiceFinancingsService:
      $ref: ./schemas/InvoiceFinancingsService.yaml
    Links:
      $ref: ./schemas/Links.yaml
    LoanFees:
      $ref: ./schemas/LoanFees.yaml
    LoanInterestRate:
      $ref: ./schemas/LoanInterestRate.yaml
    LoanService:
      $ref: ./schemas/LoanService.yaml
    MaximumPrice:
      $ref: ./schemas/MaximumPrice.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    MinimumBalance:
      $ref: ./schemas/MinimumBalance.yaml
    MinimumPrice:
      $ref: ./schemas/MinimumPrice.yaml
    MonthlyPrice:
      $ref: ./schemas/MonthlyPrice.yaml
    OpeningClosingChannels:
      $ref: ./schemas/OpeningClosingChannels.yaml
    PersonalAccount:
      $ref: ./schemas/PersonalAccount.yaml
    PersonalAccountBrand:
      $ref: ./schemas/PersonalAccountBrand.yaml
    PersonalAccountCompany:
      $ref: ./schemas/PersonalAccountCompany.yaml
    PersonalCreditCard:
      $ref: ./schemas/PersonalCreditCard.yaml
    PersonalCreditCardBrand:
      $ref: ./schemas/PersonalCreditCardBrand.yaml
    PersonalCreditCardCompany:
      $ref: ./schemas/PersonalCreditCardCompany.yaml
    PersonalCreditCardResponse:
      $ref: ./schemas/PersonalCreditCardBrand.yaml
    PersonalFinancing:
      $ref: ./schemas/PersonalFinancing.yaml
    PersonalFinancingBrand:
      $ref: ./schemas/PersonalFinancingBrand.yaml
    PersonalFinancingCompany:
      $ref: ./schemas/PersonalFinancingCompany.yaml
    PersonalFinancingFee:
      $ref: ./schemas/PersonalFinancingFee.yaml
    PersonalInvoiceFinancings:
      $ref: ./schemas/PersonalInvoiceFinancings.yaml
    PersonalInvoiceFinancingsBrand:
      $ref: ./schemas/PersonalInvoiceFinancingsBrand.yaml
    PersonalInvoiceFinancingsCompanies:
      $ref: ./schemas/PersonalInvoiceFinancingsCompanies.yaml
    PersonalInvoiceFinancingsFees:
      $ref: ./schemas/PersonalInvoiceFinancingsFees.yaml
    PersonalInvoiceFinancingsInterestRates:
      $ref: ./schemas/PersonalInvoiceFinancingsInterestRates.yaml
    PersonalLoan:
      $ref: ./schemas/PersonalLoan.yaml
    PersonalLoanBrand:
      $ref: ./schemas/PersonalLoanBrand.yaml
    PersonalLoanCompany:
      $ref: ./schemas/PersonalLoanCompany.yaml
    PersonalUnarrangedAccountOverdraft:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraft.yaml
    PersonalUnarrangedAccountOverdraftBrand:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftBrand.yaml
    PersonalUnarrangedAccountOverdraftCompany:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftCompany.yaml
    PersonalUnarrangedAccountOverdraftFee:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftFee.yaml
    Price:
      $ref: ./schemas/Price.yaml
    PriceIntervals:
      $ref: ./schemas/PriceIntervals.yaml
    PriorityServiceName:
      $ref: ./schemas/PriorityServiceName.yaml
    ReferentialRateIndexer:
      $ref: ./schemas/ReferentialRateIndexer.yaml
    RequiredWarranty:
      $ref: ./schemas/RequiredWarranty.yaml
    ResponseBusinessAccounts:
      $ref: ./schemas/ResponseBusinessAccounts.yaml
    ResponseBusinessFinancings:
      $ref: ./schemas/ResponseBusinessFinancings.yaml
    ResponseBusinessInvoiceFinancings:
      $ref: ./schemas/ResponseBusinessInvoiceFinancings.yaml
    ResponseBusinessLoans:
      $ref: ./schemas/ResponseBusinessLoans.yaml
    ResponseBusinessUnarrangedAccountOverdraft:
      $ref: ./schemas/ResponseBusinessUnarrangedAccountOverdraft.yaml
    ResponsePersonalAccounts:
      $ref: ./schemas/ResponsePersonalAccounts.yaml
    ResponsePersonalFinancings:
      $ref: ./schemas/ResponsePersonalFinancings.yaml
    ResponsePersonalInvoiceFinancings:
      $ref: ./schemas/ResponsePersonalInvoiceFinancings.yaml
    ResponsePersonalLoans:
      $ref: ./schemas/ResponsePersonalLoans.yaml
    ResponsePersonalUnarrangedAccountOverdraft:
      $ref: ./schemas/ResponsePersonalUnarrangedAccountOverdraft.yaml
    ServiceBundle:
      $ref: ./schemas/ServiceBundle.yaml
    ServiceBundleServiceDetail:
      $ref: ./schemas/ServiceBundleServiceDetail.yaml
    TransactionMethods:
      $ref: ./schemas/TransactionMethods.yaml
    UnarrangedAccountOverdraftRate:
      $ref: ./schemas/UnarrangedAccountOverdraftRate.yaml
    UnarrangedAccountOverdraftService:
      $ref: ./schemas/UnarrangedAccountOverdraftService.yaml
  securitySchemes:
    $ref: "./schemas/securitySchemes.yaml"
  parameters:
    $ref: "./schemas/parameters.yaml"
